.DS_Store
.dropbox
.project
.coverage
.pydevproject
*.code-workspace
.settings
/build
/dist
/htmlcov
/docs/_build
/docs/_static
/docs/_templates
pymandel-*/
/__pycache__
/src/pymandel/__pycache__
/src/colormaps/__pycache__
/src/pymandel.egg-info/
*.pyc
*.nbi
*.nbc
/.pytest_cache/
/.dbeaver/
pylint_report.txt
