.DS_Store
.dropbox
.project
.pydevproject
.dbeaver/
build/
dist/
PyMandel.egg-info/
PyMandel-*/
_pycache_/
.mypy_cache/
pymandel/_pycache_/
colormaps/_pycache_/
.settings
*.pyc
*.nbi
*.nbc
/.pytest_cache/
pylint_report.txt
