.DS_Store
.dropbox
.project
.coverage
.pydevproject
.settings
/build
/dist
/htmlcov
/docs
PyMandel.egg-info/
PyMandel-*/
/_pycache_
/pymandel/_pycache_
/colormaps/_pycache_
*.pyc
*.nbi
*.nbc
/.pytest_cache/
/.dbeaver/
pylint_report.txt
